
<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      .navbar-default {
          background-color: #F8F8F8;
          border-color: #E7E7E7;
      }
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        width: 1280px;
        max-width: 1280px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      .muted {
        color: #999999;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      #myImg {
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
      }

      #myImg:hover {opacity: 0.7;}

.imgModal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

 </style>