<table class="table  table-striped table-sm" id="invest_data">

    <thead>
        <tr>
            <th>Name</th>
            <th>Last change</th>

            {% for ma in list_of_ma %}
            <th>{{ma}}</th>
            {% endfor %}
            <th>CORR FXIT</th>


        </tr>
    </thead>
    <tbody id="models_table_inner">
        {% for model in data %}
        <tr>
            <td>{{ model.cost_data.name }}</td>

            {% if model.diff > 0 %}       
            <td><font color="green">{{ model.diff }}</font></td>
            {% else %}
            <td><font color="red">{{ model.diff }}</font></td>
            {% endif %}

            {% for ma in model.ma_data %}
            {% if ma.is_grow == True %}
            <td>
                <font color="green">{{ ma.change_date|date:'y-m-d' }}</font>
            </td>
            {% else %}
            <td>
                <font color="red">{{ ma.change_date|date:'y-m-d' }}</font>
            </td>
            {% endif %}
            {% endfor %}
            <td>{{ model.correl_coef }}</td>
  
            <td>
                <button type="button" id="plot" class="btn btn-primary btn-sm" onclick="plot('{{model.cost_data.name}}', 0)">Plot</button>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
