<table class="table  table-striped table-sm" id="invest_data">

    <thead>
        <tr>
            <th></th>
            {% for model in data %}
            <th>{{model.cost_data.name}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="models_table_inner">
        {% for model in data %}
        <tr>
            <td>{{ model.cost_data.name }}</td>

            {% for corr in model.corells %}
            <td>{{ corr }}</td>
            {% endfor %}  
        </tr>
        {% endfor %}

    </tbody>
</table>
