<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "daisi_app/css/general.css">
</head>

<body>
    <script>
      var current_plot;
      var days_back_;
    </script>

<div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  </div>

  <div class="row">

<div class="col-sm-4" id="left_menu">

  {% include 'data_table.html' %}


  <!-- <button type=" button" class="btn btn-primary btn-sm" onclick="reload_models_list();">Reload</button>
  <button type="button" class="btn btn-primary btn-sm" onclick="reload_models_list1();">Reload1</button> -->
  </div>

  <div class="col-sm-3">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary" onclick="plot(-1, 0)">400</button>
      <button type="button" class="btn btn-secondary" onclick="plot(-1, 1)">200</button>
      <button type="button" class="btn btn-secondary" onclick="plot(-1, 2)">100</button>
      <button type="button" class="btn btn-secondary" onclick="plot(-1, 3)">50</button>
      <button type="button" class="btn btn-secondary" onclick="plot(-1, 4)">20</button>
      <button type="button" class="btn btn-secondary" onclick="plot(-1, 5)">5</button>
    </div>
    <div class="slidecontainer">
      <input type="range" min="1" step="10" max="100" value="50" class="slider" id="res">
    </div>
    <div class="slidecontainer">
      <input type="range" min="1" step="10"  max="100" value="50" class="slider" id="sup">
    </div>      
    <div id="container_top" style="width: 1400px; height: 640px; margin: 0 auto"></div>
    <div id="container_btm" style="width: 1400px; height: 640px; margin: 0 auto"></div>
  </div>

</div>

<div class="row">
    {% include 'data_table_comp.html' %}
  </div>


  </body>

  <script>

  var slider1 = document.getElementById("res");
  var slider2 = document.getElementById("sup");

    slider1.oninput = function() {
      plot(current_plot, days_back_)
    }
    slider2.oninput = function() {
      plot(current_plot, days_back_)
    }

    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#models_table_inner tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > 0)
        });
      });
    });


    function plot(plot_id, days_back) {

      if (plot_id == -1) {
        plot_id = current_plot;
      }

      var plot_data = {
        'plot_id': plot_id,
        'days_back': days_back,
        'res': slider1.value,
        'sup': slider2.value,
      };
      current_plot = plot_id;
      days_back_ = days_back
      $.ajax({
        type: 'get',
        url: 'get_plot_data',
        data: plot_data,
        response: 'JSON',
        success: function (data) {
          Highcharts.stockChart('container_top', data);
        }
      });
    }

  </script>

</html>