<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" href="#{{refid}}">{{label}}</a>
    </h4>
</div>
<div id={{refid}} class="panel-collapse collapse">
    <ul class="list-group">
        {% for component in components %}
        {% if component.view_typename.typename == filter %}
        <li class="list-group-item list-group-item-action" onClick="show_views(event, '{{component.component_typename.pseudoname}}', {{issolver}}, '{{ component.name}}');">{{component.name}}</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>