<div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#{{refid}}">{{label}}</a>
        </h4>
    </div>
    <div id="{{refid}}" class="panel-collapse collapse">
    <ul class="list-group">
        {% for plot_component in plot_components %}
        <li class="list-group-item list-group-item-action" onClick="show_plot(event, {{plot_component.id}}, {{istopr}});">{{plot_component.item_label}}</li>
        {% endfor %}
    </ul>
</div>