
<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "daisi_app/css/general.css">
</head>

<body>
   {% include 'base.html' %}

  <div class="container">
    <h2>List of models</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    {% include 'daisi_app/model_table.html' %}
    <!-- <button type="button" class="btn btn-primary btn-sm" onclick="reload_models_list();">Reload</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="reload_models_list1();">Reload1</button> -->
  </div>

  {% include 'daisi_app/modal_msg.html' %}



  <script src="{% static "daisi_app/js/modal.js"  %}"></script>
  <script src="{% static "daisi_app/js/show_info.js"  %}"></script>
  <script src="{% static "daisi_app/js/models_operations.js"  %}"></script>

  <script>

    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#models_table_inner tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > 0)
        });ce-builds
      });
    });
    function reload_models_list(filter='label', is_descend=true) {
      last_filter = filter;
      last_is_descendr = is_descend;


      $("#models_table").html('').load("models_list_filtered?filter=" + filter +"&is_descend=" +is_descend.toString(), function () {
      });
    }

    function reload_models_list1() {

      var html = '';

      html += '<tbody>';
      html += '{% for model in models %}';
      html += '{% if model.typename.typename == "Synchrotron" %}'
      html += '<tr>'
      html += '<td>{{ model.label }}</td>'
      html += '<td>{{ model.created }}</td>'
      html += '<td>{{ model.edited }}</td>'
      html += '<td>{{ model.typename.typename }}</td>'
      html += '<td>{{ model.owner_name.owner_name }}</td>'
      html += '<td>{{ model.description }}</td>'
      html += '<td>'

      html += '</td>'
      html += '</tr>'
      html += '{% endif %}';
      html += '{% endfor %}';
      html += '</tbody>';

      document.getElementById("models_table_inner").innerHTML = html;


    }



  </script>
</body>

</html>

