
<div class="modal fade" id="{{label}}{{typename}}{{owner}}_clone" tabindex="-1" role="dialog" aria-labelledby="{{label}}{{typename}}{{owner}}Label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="label">Enter new label</label>
                    <textarea class="form-control" rows="1" id="label_{{label}}{{typename}}{{owner}}">{{label}}</textarea>
                </div>

                <div class="form-group">
                    <label for="description">Enter new Description</label>
                    <textarea class="form-control" rows="5" id="description_{{label}}{{typename}}{{owner}}">{{description}}</textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="clone_model('{{label}}{{typename}}{{owner}}', {{idd}});">Clone</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="{{label}}{{typename}}{{owner}}_delete" tabindex="-1" role="dialog" aria-labelledby="{{label}}{{typename}}{{owner}}Label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    Confirm action
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="delete_model('{{label}}{{typename}}{{owner}}', {{idd}});">delete</button>
            </div>
        </div>
    </div>
</div>