<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static "lib/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

  <link rel="stylesheet" type="text/css" href=" {% static "daisi_app/css/general.css%}">

  <style type="text/css" media="screen">
    #editor {
      position: absolute;
      width: 600px;
      height: 350px;
    }
  </style>

</head>

<body>

  <div id="editor">
    <p>Model components</p>
  </div>

  <script src="{% static "daisi_app/lib/ace-builds/src-noconflict/ace.js"%}" type="text/javascript" charset="utf-8></script>

  <script>
    var editor = ace.edit("editor");
  </script>

</body>

</html>