<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "daisi_app/css/general.css" %}">

    <style type="text/css" media="screen">
        .ace_editor {
            position: relative;
            width: 550px;
            height: 200px;
        }

        #containerch_top {
            min-width: 350px;
            max-width: 900px;
            height: 400px;
            margin: 0 auto
        }

        #containerch_bottom {
            min-width: 350px;
            max-width: 900px;
            height: 400px;
            margin: 0 auto
        }
    </style>

</head>

<body>
    {% include 'base.html' %}

    <script>
        var editors = new Map();
        var vars_tables = new Map();
        var files = new Map();
        var radio_groups = new Map();
        var prev_view = '';
        var prev_is_solver = '';
        var prev_component = '';
        var prev_component_name = '';
        var result_id_clicked;
        var filter_result = 'start_time';
        var is_descend_result = true;
    </script>


    <div class="row">


        <div class="col-sm-2" id="left_menu">
            <div class="panel-group">
                <div class="panel panel-default">
                    {% include 'daisi_app/collapse_item.html' with filter="Model" label="Model components" refid="collapse1" issolver="false" %}
                    {% include 'daisi_app/collapse_item.html' with filter="Solver" label="Solvers" refid="collapse2" issolver="true" %}

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="tab" id="views">
            </div>
            {% include 'daisi_app/view.html' %}
        </div>

        <div class="col-sm-4">
            <div id="containerch_top" style="width: 1400px; height: 340px; margin: 0 auto"></div>
            <div id="containerch_bottom" style="width: 1400px; height: 340px; margin: 0 auto"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-5" id="results">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">

            {% include 'daisi_app/results_table.html' %}
        </div>
        <div class="col-sm-2" id="services">
            <table class="table  table-striped table-sm" id="services_table">
            </table>
        </div>
        <div class="col-sm-5" id="log">
            <textarea class="form-control" rows="10" id="curr_log"></textarea>
        </div>
    </div>
    {% include 'daisi_app/modal_msg.html' %}

    <script src="{% static "optimization/js/modal.js" %}"></script>

    <script src="{% static "daisi_app/js/show_info.js" %}"></script>
    <script src="{% static "daisi_app/js/loadXMLDoc.js" %}"></script>
    <script src="{% static "daisi_app/js/update_data.js" %}"></script>
    <script src="{% static "daisi_app/js/set_active.js" %}"></script>
    <script src="{% static "daisi_app/js/modal.js" %}"></script>
    <script src="{% static "common/js/getcookie.js" %}"></script>
    <script src="{% static "daisi_app/js/view_changed.js" %}"></script>
    <script src="{% static "daisi_app/lib/ace-builds/src-noconflict/ace.js" %}" type="text/javascript"
        charset="utf-8"></script>

    <script>

        var services_timerId = setInterval(function () {
            $.ajax({
                type: 'get',
                url: 'get_services_status',
                response: 'JSON',
                success: function (data) {
                    table = document.getElementById("services_table");
                    html_ = '<thead><tr><th>ip</th><th>Status</th></tr></thead><tbody>'

                    for (i = 0; i < data.length; i++) {
                        ip = data[i][0].ip.toString();
                        status = data[i][0].status.toString();
                        html_ += '<tr><td>' + ip + '</td><td>' + status + '</td>';

                        if ('Stop' == status) {
                            html_ += '<td><button type="button" class="btn btn-primary btn-sm" onclick="start_service(' + 'ip.toString()' + ')">Start</button></td>';
                        }
                        else {
                            html_ += '<td><button type="button" class="btn btn-primary btn-sm disabled">Start</button></td>';
                        }

                        if ('Work' == status) {
                            html_ += '<td><button type="button" class="btn btn-primary btn-sm" onclick="stop_service(' + 'ip.toString()' + ')">Stop</button></td>';
                        }
                        else {
                            html_ += '<td><button type="button" class="btn btn-primary btn-sm disabled">Stop</button></td>';
                        }


                        html_ += '</tr>'

                    }

                    table.innerHTML = html_ + '</tbody>';
                    // alert(data);           
                }
            });

        }, 1000);

        var timerId = setInterval(function () {
            rows = document.getElementsByClassName("clickable-row");
            // $("#"+rows[0].id).html('').load("reload_result?result_id="+rows[0].id, function() 
            // { 
            // });
            for (i = 0; i < rows.length; i++) {

                var del_data = { 'result_id': rows[i].id };

                $.ajax({
                    type: 'get',
                    url: 'reload_result',
                    data: del_data,
                    response: 'JSON',
                    success: function (data) {
                        document.getElementById("status_" + data.result_id).innerHTML = data.status;
                        document.getElementById("progress_" + data.result_id).innerHTML = data.progress;
                        // alert(data.is_rm);

                        if (data.is_rm)
                        {
                            show_class_rm = "btn btn-primary btn-sm btn-sm disabled";
                        }
                        else
                        {
                            show_class_rm = "btn btn-primary btn-sm btn-sm";
                        }
                        document.getElementById("btn_rm_" + data.result_id).className = show_class_rm;

                        if (data.status == 'Done' || data.status == 'Error') {
                            show_class = "btn btn-primary btn-sm btn-sm";
                            document.getElementById("btn_show_" + data.result_id).onclick = function () { show_result(data.result_id, data.component_name, data.name) };
                        }
                        else {
                            show_class = "btn btn-primary btn-sm btn-sm disabled";
                            document.getElementById("btn_show_" + data.result_id).onclick = {};
                        }
                        document.getElementById("btn_show_" + data.result_id).className = show_class;


                        if (data.status != '') {
                            del_class = "btn btn-primary btn-sm btn-sm";
                            document.getElementById("btn_delete_" + data.result_id).onclick = function () { delete_result(data.result_id) };
                        }
                        else {
                            del_class = "btn btn-primary btn-sm btn-sm disabled";
                            document.getElementById("btn_delete_" + data.result_id).onclick = {};
                        }
                        document.getElementById("btn_delete_" + data.result_id).className = del_class;

                    }
                });
            }


        }, 2000);

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#results_table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > 0)
                });
            });
        });


        {% include 'daisi_app/show_views.js' %}
        {% include 'daisi_app/show_concrete_view.js' %}

        function show_result(result_id, component_pseudoname, name) {
            document.getElementById("views").innerHTML = '';
            result_id_clicked = result_id;
            var tt = escape(name);

            btns = document.getElementsByClassName("clickable-row");
            for (i = 0; i < btns.length; i++) {
                btns[i].className = btns[i].className.replace(" info", "");
            }

            document.getElementById(result_id).className += " info";


            // set_active(evt, "clickable-row", "results_table", " info");


            $("#view_content").html('').load("show_result?result_id=" + result_id + '&component_pseudoname=' + component_pseudoname + '&view_pseudoname=' + '&name=' + tt.toString(), function () {
            });
        }

        function reload_results_list(filter = 'start_time', is_descend = true) {
            filter_result = filter;
            is_descend_result = is_descend;
            $("#results_table").html('').load("show_results_list?filter=" + filter + "&is_descend=" + is_descend.toString(), function () {
            });
        }

        function perform_res_oper(data_in, oper, is_async) {
            $.ajax({
                type: 'get',
                url: oper,
                data: data_in,
                response: 'JSON',
                async: is_async,
                success: function (data) {
                    if (data.status) {
                        reload_results_list(filter_result, is_descend_result);
                        // show_info('success', 'Operation success');
                    } else {
                        show_info('error', 'Operation error: ' + data.message);
                    }
                }
            });
        }

        function set_service_status(ip, status) {
            $.ajax({
                type: 'get',
                url: 'set_service_status',
                data: { 'ip': ip, 'status': status },
                response: 'JSON',
                async: true,
                success: function (data) {
                    if (data.status) {
                    } else {
                        show_info('error', 'Operation error: ' + data.message);
                    }
                }
            });
        }

        function delete_result(result_id) {
            perform_res_oper({ 'result_id': result_id }, 'delete_result', true);
        }

        function show_log_result(result_id) {
            $.ajax({
                type: 'get',
                url: 'get_log_data_result',
                data: { 'result_id': result_id },
                response: 'JSON',
                success: function (data) {
                    set_data_log(data);
                }
            });
        }

        function stop_service(ip) {
            set_service_status(ip, 'Stopping');
        }
        function start_service(ip) {
            set_service_status(ip, 'Starting');
        }

        function add_result() {
            view_changed();
            perform_res_oper({ 'component_pseudoname': prev_component, 'component_name': prev_component_name }, 'add_result', false);
            update_data();
        }

        function show_plot(evt, plot_id, istop) {
            set_active(evt, "list-group-item list-group-item-action", "view_content");

            var plot_data = {
                'plot_id': plot_id,
                'result_id_clicked': result_id_clicked
            };

            $.ajax({
                type: 'get',
                url: 'get_plot_data',
                data: plot_data,
                response: 'JSON',
                success: function (data) {
                    // alert(JSON.stringify(data));
                    if (istop) {
                        Highcharts.chart('containerch_top', data);
                    }
                    else {
                        Highcharts.chart('containerch_bottom', data);
                    }
                }
            });
        }
    </script>

</body>

</html>