
    {% include 'daisi_app/modal_btn.html' with owner=model.owner_name.owner_name idd=model.id label=model.label typename=model.typename.typename description=model.description %}

  {% for model in models %}
    {% include 'daisi_app/modal_btn.html' with owner=model.owner_name.owner_name idd=model.id label=model.label typename=model.typename.typename description=model.description %}
  {% endfor %}

<table class="table  table-striped table-sm" id="models_table">

    <thead>
        <tr>
          <th> 
            <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_models_list('label', true);";></span>
            <span class="glyphicon glyphicon-triangle-top"    onclick="reload_models_list('label', false);"></span>
          </th>
          <th> 
              <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_models_list('created', true);";></span>
              <span class="glyphicon glyphicon-triangle-top"    onclick="reload_models_list('created', false);"></span>
          </th>
          <th> 
              <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_models_list('edited', true);";></span>
              <span class="glyphicon glyphicon-triangle-top"    onclick="reload_models_list('edited', false);"></span>
          </th>
          <th> 
              <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_models_list('typename', true);";></span>
              <span class="glyphicon glyphicon-triangle-top"    onclick="reload_models_list('typename', false);"></span>
          </th>
          <th> 
              <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_models_list('owner_name', true);";></span>
              <span class="glyphicon glyphicon-triangle-top"    onclick="reload_models_list('owner_name', false);"></span>
          </th>
          <th> 
              <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_models_list('description', true);";></span>
              <span class="glyphicon glyphicon-triangle-top"    onclick="reload_models_list('description', false);"></span>
          </th>
        </tr>
      </thead>

  <thead>
    <tr>
      <th>Model label</th>
      <th>Created time</th>
      <th>Edited time</th>
      <th>Model type</th>
      <th>Owner name</th>
      <th>Descripion</th>

    </tr>
  </thead>
  <tbody id="models_table_inner">
    {% for model in models %}
    <tr>
      <td>{{ model.label }}</td>
      <td>{{ model.created }}</td>
      <td>{{ model.edited }}</td>
      <td>{{ model.typename.typename }}</td>
      <td>{{ model.owner_name.owner_name }}</td>
      <td>{% if  model.description|length < 25 %} {{ model.description}} {% else %} {{model.description|slice:"0:22"}}...  <p> Show all: <span class="glyphicon glyphicon-search" onclick="show_full_description('{{model.description}}');"></span></p> {% endif %}</td>
      <td>
      {% if model.owner_name.owner_name == 'Template' and user != 'Admin' %}
      <button type="button" class="btn btn-primary btn-sm disabled">Load</button>
      {% else %}
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '{% url 'model' pk=model.id %}';">Load</button>
      {% endif %}
    </td>
      <td>
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{model.label}}{{model.typename.typename}}{{model.owner_name.owner_name}}_clone">Clone</button>
      </td>
      <td>
          {% if model.owner_name.owner_name == 'Template' and user != 'Admin'  %}
          <button type="button" class="btn btn-primary btn-sm disabled">Delete</button>
          {% else %}
           <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{model.label}}{{model.typename.typename}}{{model.owner_name.owner_name}}_delete">Delete</button>
          </td>
          {% endif %}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
