<table class="table  table-striped table-sm" id="results_table">

    <thead>
        <tr>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_results_list('component_name', true);"
                    ;></span>
                <span class="glyphicon glyphicon-triangle-top" onclick="reload_results_list('component_name', false);"></span>
            </th>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_results_list('start_time', true);" ;></span>
                <span class="glyphicon glyphicon-triangle-top" onclick="reload_results_list('start_time', false);"></span>
            </th>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_results_list('done_time', true);" ;></span>
                <span class="glyphicon glyphicon-triangle-top" onclick="reload_results_list('done_time', false);"></span>
            </th>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_results_list('ready_status', true);"
                    ;></span>
                <span class="glyphicon glyphicon-triangle-top" onclick="reload_results_list('ready_status', false);"></span>
            </th>
            <th>
                <span class="glyphicon glyphicon-triangle-bottom" onclick="reload_results_list('status', true);" ;></span>
                <span class="glyphicon glyphicon-triangle-top" onclick="reload_results_list('status', false);"></span>
            </th>
        </tr>
    </thead>


    <thead>
        <tr>
            <th>Solver</th>
            <th>Start time</th>
            <th>Done time</th>
            <th>Progress</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody id="results_table_inner">
        {% for result in results %}
        <tr class="clickable-row" id='{{result.id}}'>
            <td>{{result.name}}</td>
            <td>{{result.start_time}}</td>
            <td>{{result.done_time}}</td>
            <td id="progress_{{result.id}}">{{result.ready_status}}</td>
            <td id="status_{{result.id}}">{{result.status.name}}</td>

            <td>
                {% if result.status.name == 'Done' or result.status.name == 'Error' %}
                <button type="button" id="btn_show_{{result.id}}" class="btn btn-primary btn-sm btn-sm" onclick="show_result('{{result.id}}', '{{result.component_name.pseudoname}}', '{{result.name}}')">Show</button>
                {% else %}
                <button type="button" id="btn_show_{{result.id}}" class="btn btn-primary btn-sm btn-sm disabled">Show</button>
                {% endif %}
            </td>

            <td>
                {% if result.status.name == 'In process' %}
                <button type="button" id="btn_abort_{{result.id}}" class="btn btn-primary btn-sm" onclick="abort('{{result.id}}')">Abort</button>
                {% else %}
                <button type="button" id="btn_abort_{{result.id}}" class="btn btn-primary btn-sm disabled" onclick="abort('{{result.id}}')">Abort</button>
                {% endif %}
            </td>

            <td>
                <button type="button" id="btn_delete_{{result.id}}" class="btn btn-primary btn-sm" onclick="delete_result('{{result.id}}')">Del</button>
            </td>

            <td>
                <button type="button" id="btn_show_log_{{result.id}}" class="btn btn-primary btn-sm" onclick="show_log_result('{{result.id}}')">Log</button>
            </td>

            <td>
                {% if result.real_model_id != result.model_id %}
                <button type="button"  id="btn_rm_{{result.id}}"  class="btn btn-primary btn-sm" onclick="location.href = '{% url 'model' pk=result.real_model_id %}';">RM</button>
                {% else %}
                <button type="button"  id="btn_rm_{{result.id}}"  class="btn btn-primary btn-sm disabled" onclick="location.href = '{% url 'model' pk=result.real_model_id %}';" >RM</button>
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>