<div id="view_content" class="tabcontent">

    <div class="panel-group">   
    {% for item in text_result %} 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse3 {{item.model_view_item_pattern.item_label}}">{{item.model_view_item_pattern.item_label}}</a>
            </h4>
          </div>
          <div id="collapse3 {{item.model_view_item_pattern.item_label}}" class="panel-collapse collapse">
            <div class="panel-body">{{item.data}}</div>
          </div>
        </div>
    {% endfor %}
</div>

    {% for item in view_items %}
    <p>{{item.item_label}}</p>

    {% if item.is_valid == False %}
    <p class="text-danger">INVALID</p>

    {% endif %}


    <div id="{{item.id}}">
    </div>
    {% if item.item_typename == "TextArea" %}
    <script>
        editors.set({{ item.id }}, ace.edit("{{item.id}}"));
    </script>
    <script>
        editors.get({{ item.id }}).getSession().setMode("ace/mode/json");
        editors.get({{ item.id }}).setValue('{{item.content | escapejs}}');
        {% if item.model_view_item_pattern_id.is_editable == False %}
        editors.get({{ item.id }}).setReadOnly(true);
        {% endif %}

    </script> {% elif item.item_typename == "VariablesList" %}
    <script>
        try {

            var json_obj = JSON.parse('{{item.content | safe}}');
            var table = document.getElementById("{{item.id}}");
            vars_tables.set({{ item.id }}, table);

        for (var key in json_obj) {
            if (json_obj.hasOwnProperty(key)) {
                var html = '<div class="form-group row">';
                html += '<label for="' + key + '" class="col-sm-7 col-form-label">' + key + '</label>';
                html += '<div class="col-sm-5">';
                html += '<input type="number" class="form-control" id="' + key + '" placeholder="" value="' + json_obj[key].toString() + '">';
                html += '    </div>';
                html += '</div>';
                table.innerHTML += html;
            }
        }
        } 
        catch (e) {
            alert(e);
        }

    </script> {% elif item.item_typename == "RadioButtons" %}
    <script>
        try {

            var json_obj = JSON.parse('{{item.content | safe}}');
            // alert(json_obj);
            var table = document.getElementById("{{item.id}}");
            radio_groups.set({{ item.id }}, table);


        for (var key in json_obj) {
            if (json_obj.hasOwnProperty(key)) {
                html = '<input type="radio" class="radio" name="group1  {{item.id}}" value="' + key +'"';
                if(json_obj[key])
                {
                    html += ' checked';
                }
                html +='>' + key + '<br>';
                // alert(html);
                table.innerHTML += html;
            }
        }
        } 
        catch (e) {
            alert(e);
        }

    </script>{% elif item.item_typename == "File" %}
    <script>
        var str_pg = '{{item.content | safe}}';
        var json_obj = JSON.parse(str_pg.replace(/\bNaN\b/g, "null"));
        // alert(json_obj);

        var parent = document.getElementById("{{item.id}}");

        var file_old = document.createElement("div");
        file_old.innerHTML = "Selected file: " + json_obj["name"].toString();
        parent.appendChild(file_old);

        var file = document.createElement('input');
        file.type = "file";
        parent.appendChild(file);


        files.set("{{ item.id }}", file);

    </script>

    {% else %} {% endif %} {% endfor %}


    {% if plot_components|length > 0 %}
    <div class="panel-group">
        <div class="panel panel-default">
            {% include 'daisi_app/collapse_item_plot.html' with refid="collapse_top" label="Top plot" istopr="true" %}
            {% include 'daisi_app/collapse_item_plot.html' with refid="collapse_bot" label="Bottom plot" istopr="false"  %}
        </div>
    </div>
    {% endif %}

    <hr>
    <div id="btn_solve">
    </div>
</div>