img{
  max-width:180px;
}
input[type=file]{
padding:10px;
}

a, a:visited {
  color: #07d;
}

#pageheader h1 {
  font-family: 'Finger Paint', cursive;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
}

#pageheader h1 .title-word-1 {
  color: red;
}

.literally {
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
  position: relative;
}

/* roll these back into sphinx-better-theme plz */

body {
  line-height: 145%;
}

@media(max-width: 75rem) {
  header#pageheader, footer#pagefooter, .related, .document {
    margin: 0 1rem;
    width: calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: -webkit-calc(100% - 2rem);
  }
}

.admonition, .deprecated p {
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.field-list p {
  margin: 1rem 0;
}

.field-list p:first-child {
  margin-top: 0;
}
.field-list p:last-child {
  margin-bottom: 0;
}

.deprecated p {
  margin: 10px 0;
  padding: 7px;
  background-color: #ffe4e4;
  border: 1px solid #f66;
}

code {
  font-size: 14px;
}