<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
{% load staticfiles %}

<head>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Finger+Paint" type="text/css" />
<link rel="stylesheet" href="{% static "image_processor/css/style.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "image_processor/lib/literallycanvas/css/literallycanvas.css" %}" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.js" type="text/javascript"></script>
<script src="{% static "image_processor/lib/literallycanvas/js/fastclick.js" %}"></script>
<script src="{% static "image_processor/lib/literallycanvas/js/literallycanvas.js" %}"></script>
<!-- 
<style type="text/css" media="screen">
    .literally {
        position: relative;
        /* height: 100%; */
    }
</style> -->


</head>

<body>
    <script>
        var lc;
        var _width;
        var _height;

    </script>

    <div class="literally images-in-drawing"></div>

    <input type='file' onchange="readURL(this);" id="processed_file">

    <button type="button" class="btn btn-primary" onclick="get_image();">Get mask</button>

    <!-- <form class="controls export">
            <input type="submit" data-action="export-as-png" value="Export as PNG">
    </form> -->

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                var newImage = new Image();

                reader.onloadend = function () {
                    newImage.src = reader.result;

                    newImage.onload = function(){


                        // alert(newImage.naturalHeight);
                        // alert(newImage.height);

                        // var canvas = document.createElement('canvas');

                        // var ctx = canvas.getContext('2d');

                        // canvas.width = 740;
                        // canvas.height = 600;
                        // ctx.drawImage(newImage, 0, 0);
                        // var myData = ctx.getImageData(0, 0, 740, 600).data;

                        // lc.style.width = newImage.width;

                        var el = document.getElementsByClassName('literally images-in-drawing')[0];
                        _width = newImage.width;
                        _height = newImage.height;

                        el.style.width = _width + 61;
                        el.style.height = _height;

                        if(_height > 398)
                        {
                            el.style.height += 31;
                        }

                        lc = LC.init(
                        el,
                        {watermarkImage: newImage, imageURLPrefix: '/static/image_processor/lib/literallycanvas/img', imageSize: {width: _width, height : _height }});


                    }
                    // lc.saveShape(LC.createShape('Image', { image: newImage }));
                }

                reader.readAsDataURL(input.files[0]);


            }
        }
    </script>

    <script>

        function downloadURI(uri, name) {
            var link = document.createElement("a");
            link.download = name;
            link.href = uri;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link;
        }

        function dataURIToBlob(dataURI, callback) {
            var binStr = atob(dataURI.split(',')[1]),
                len = binStr.length,
                arr = new Uint8Array(len);

            for (var i = 0; i < len; i++) {
                arr[i] = binStr.charCodeAt(i);
            }

            callback(new Blob([arr]));
        }

        var callback = function (blob) {
            var a = document.createElement('a');
            a.download = 'mask.png';
            a.innerHTML = 'download';
            // the string representation of the object URL will be small enough to workaround the browser's limitations
            a.href = URL.createObjectURL(blob);
            // you must revoke the object URL, 
            //   but since we can't know when the download occured, we have to attach it on the click handler..
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            delete a;
        };

        function get_image() {
            var imageBounds = {
            x: 0, y: 0, width: _width, height: _height
            };

            try {
                dataURIToBlob(lc.getImage({includeWatermark: false, rect: imageBounds}).toDataURL(), callback);

                // downloadURI(lc.getImage().toDataURL(), 'dfgfd');
            }
            catch (e) {
                alert(e);
            }
            // alert(lc.getImage().toDataURL());
        }
    </script>


    <!-- 
<script>
        $(document).ready(function() {
          $('.controls.export [data-action=export-as-png]').click(function(e) {
            e.preventDefault();
            window.open(lc.getImage().toDataURL());
          });
        });
      </script> -->


</body>

</html>