{% load staticfiles %}


<html>
 <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <style>
   body {
    background-image: url("{% static "logo_game/background.jpg" %}"); /* Путь к фоновому изображению */
    background-repeat:no-repeat;
    background-position:center;
   }

  .img1 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-547px)  translateY(117px);
  }
    .img1_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-505px)  translateY(135px);
  }


  .img2 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-479px)  translateY(23px);
  }
  .img2_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-437px)  translateY(41px);
  }



  .img3 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-380px)  translateY(63px);
  }
  .img3_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-338px)  translateY(81px);
  }


  .img4 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-315px)  translateY(-15px);
  }
  .img4_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-272px)  translateY(3px);
  }



  .img5 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-210px)  translateY(60px);
  }
  .img5_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-170px)  translateY(78px);
  }



  .img6 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-168px)  translateY(-30px);
  }
  .img6_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-130px)  translateY(-10px);
  }

  .img7 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-90px)  translateY(30px);
  }
  .img7_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50px)  translateY(45px);
  }


  .img8 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-30px)  translateY(-70px);
  }
  .img8_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(10px)  translateY(-55px);
  }


  .img9 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(70px)  translateY(-10px);
  }
  .img9_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(112px)  translateY(5px);
  }



  .img10 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(100px)  translateY(-90px);
  }
  .img10_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(140px)  translateY(-74px);
  }


  .img11 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(150px)  translateY(-160px);
  }
  .img11_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(190px)  translateY(-144px);
  }


  .img12 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(270px)  translateY(-160px);
  }
  .img12_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(305px)  translateY(-144px);
  }


  .img13 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(340px)  translateY(-230px);
  }
  .img13_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(378px)  translateY(-214px);
  }

  .img14 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(220px)  translateY(-270px);
  }
  .img14_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(261px)  translateY(-254px);
  }


  .img15 { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(290px)  translateY(-350px);
  }
  .img15_cap { 
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(328px)  translateY(-335px);
  }

 /* .modal-dialog { 
    color:green;
    background-color:green;

  }
  .modal-body
{
    background-color: green;
} */
.modal-header
{
    background-color: #C3EAAB;
} 
.modal-content
{
    background-color: #C3EAAB;
}

/* <div class="modal-dialog">
    
    <div class="modal-content"> */

  /* .modal { 
    background-color:green;
} */

     b {
    font-size: 18pt; /* Размер шрифта в пунктах */ 
   }

</style>
   </head>
 <body>

  <script>
    var nums = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  </script>

    <div class="img1">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(1);">
    </div>
    <div class="img1_cap" onclick="get_task(1);">
        <b>1</b>
    </div>  

    <div class="img2">
        <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(2);">
    </div>
    <div class="img2_cap" onclick="get_task(2);">
        <b>2</b>
    </div>


      <div class="img3">
            <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(3);">
     </div>
     <div class="img3_cap" onclick="get_task(3);">
        <b>3</b>
    </div>


  <div class="img4">
        <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(4);">
  </div>
  <div class="img4_cap" onclick="get_task(4);">
      <b>4</b>
  </div>


  <div class="img5">
      <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(5);">
</div>
  <div class="img5_cap" onclick="get_task(5);">
      <b>5</b>
  </div>


<div class="img6">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(6);">
</div>
<div class="img6_cap" onclick="get_task(6);">
    <b>6</b>
</div>


<div class="img7">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(7);">
</div>
<div class="img7_cap" onclick="get_task(7);">
    <b>7</b>
</div>

<div class="img8">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(8);">
</div>
<div class="img8_cap" onclick="get_task(8);">
    <b>8</b>
</div>


<div class="img9">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(9);">
</div>
<div class="img9_cap" onclick="get_task(9);">
    <b>9</b>
</div>


<div class="img10">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(10);">
</div>
<div class="img10_cap" onclick="get_task(10);">
    <b>10</b>
</div>



<div class="img11">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(11);">
</div>
<div class="img11_cap" onclick="get_task(11);">
    <b>11</b>
</div>


<div class="img12">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(12);">
</div>
<div class="img12_cap" onclick="get_task(12);">
    <b>12</b>
</div>


<div class="img13">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(13);">
</div>
<div class="img13_cap" onclick="get_task(13);">
    <b>13</b>
</div>



<div class="img14">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(14);">
</div>
<div class="img14_cap" onclick="get_task(14);">
    <b>14</b>
</div>

<div class="img15">
    <img src="{% static "logo_game/cloud.png" %}" width="100" height="60" onclick="get_task(15);">
</div>
<div class="img15_cap" onclick="get_task(15);">
    <b>15</b>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="caption"></h4>
        </div>
        <div class="modal-body"  id="modal_content">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script>

function get_task(number)
{
    nums[number]++;

    var input = {
        'number': number,
        'iteration': nums[number]
    };

    $.ajax({
        type: 'get',
        url: 'get_task',
        data: input,
        response: 'JSON',
        success: function (data) {
          document.getElementById("caption").innerHTML ='<font size=6><font color=#0E410F>' + data["caption"]+'</font></font>';
          document.getElementById("modal_content").innerHTML = '<font size=5> <font color=#0E410F>' + data["text"]+'</font> </font>';
          $('#myModal').modal('show');
        }
    });

}
</script>

 </body>
</html>

